.wrapper {
  @media (min-width: 500px) {
    width: 450px;
  }
}

.two-columns-grid {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.two-columns-grid:after {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 7px);
  left: 50%;
  top: 7px;
  background-color: var(--clr-content-sub);
}
