.hero h1 {
  margin: 0 auto 16px;
  color: var(--clr-accent);
  letter-spacing: 1.2px;
  width: fit-content;
  line-height: 1.15;
  box-shadow: 0 0 16px 1px var(--clr-foreground);
  border-radius: 0.6rem;
  padding: 1rem;
}

.h2 {
  line-height: 1;
  width: fit-content;
  margin: 0 auto;
  font-size: 3.13rem;
}
.h2 span:first-of-type {
  position: relative;
  top: 6px;
}
.h2 span:last-of-type {
  position: relative;
  top: -4px;
  left: -2px;
}
.divider {
  position: relative;
  font-size: 60%;
}
.divider::before,
.divider::after {
  position: absolute;
  content: "";
  top: 58%;
  height: 1.4px;
  width: calc(50% - 20px);
  background-color: var(--clr-content);
  border-radius: 1px;
}
.divider::before {
  left: 0;
}
.divider:after {
  right: 0;
}

.adornment,
.adornment2 {
  position: absolute;
  fill: var(--clr-accent);
  opacity: 0.5;
  height: auto;
}

.adornment2 {
  top: 40%;
  right: 0;
  width: 60px;
}
.adornment {
  left: 0;
  top: 90%;
  width: 80px;
}

.ring {
  width: 60px;
  position: absolute;
  right: 0;
  bottom: -80px;
  fill: var(--clr-accent);
  animation-duration: 5s;
  animation-iteration-count: infinite;
  opacity: 0.7;
}
.ring:global {
  animation-name: rotation;
}
