.ul {
  margin-top: 0.6rem;
  display: grid;
  justify-content: center;
  gap: 0.6rem;
}

.ul a {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  gap: 7px;
  align-items: end;
  font-size: 0.9rem;
}

.ul svg {
  fill: var(--clr-accent);
}
