.title-icon {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%) rotate(-20deg);

  @media (min-width: 600px) {
    left: -80px;
  }
}

.adornment {
  position: absolute;
  fill: var(--clr-content-sub);
  opacity: 0.4;
  height: auto;
  top: 0;
  right: 50px;
  width: 60px;
  transform: rotate(-45deg);
}
