.quirk {
  display: grid;
  justify-content: center;
  margin-bottom: 110px;
}

.discoball {
  margin-top: 30px;
  display: block;
  background-color: red;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.adornment {
  position: absolute;
  fill: var(--clr-content-sub);
  opacity: 0.4;
  height: auto;
  top: -30px;
  left: 50%;
  width: 60px;
  transform: rotate(90deg) translateY(20%);

  @media (min-width: 576px) {
    width: 40px;
    top: -14px;
  }
}
